{% comment %}
  Renders icon with text block

  Accepts:
  - block: {Object} passes in the block information.


  Usage:
  {% render 'icon-with-text',
    block: block
  %}
{% endcomment %}
{%- liquid
  assign heading_1_empty = false
  assign heading_2_empty = false
  assign heading_3_empty = false
  assign heading_4_empty = false
  assign text_only_all_items = true
  assign usp4_custom_icon = '<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_1_2746" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M26.2827 14.3554H26.1257L27.0587 40.5814C27.1338 42.7052 26.1621 44.0988 24.8787 44.7485C24.3303 45.0272 23.7295 45.1654 23.1357 45.1654V45.1631C22.5372 45.1631 21.9364 45.0249 21.3903 44.7485C20.1069 44.0988 19.133 42.7052 19.2081 40.5814L20.1411 14.3554H19.984C19.6746 14.3554 19.4129 14.162 19.3059 13.8855L17.9497 10.9992C15.9518 11.1121 13.8514 12.3929 11.6577 14.8392C11.3869 15.1387 10.9273 15.1594 10.6315 14.8876C10.4563 14.7263 10.3766 14.496 10.3971 14.2725C10.4836 11.7594 11.371 9.30378 12.9639 7.47499C14.427 5.79569 16.4796 4.64624 19.0444 4.46426L26.283 4.46195C26.531 4.46195 26.7518 4.58865 26.8814 4.77984L27.9919 6.17579H29.2707L30.4107 5.11155C30.5496 4.98255 30.727 4.91806 30.9023 4.91806L33.9902 4.91575C34.3929 4.91575 34.7183 5.24515 34.7183 5.65288L34.7138 5.72429L34.6933 9.40994L34.7138 13.1624C34.7161 13.5678 34.3907 13.8972 33.9924 13.8995H33.9902V13.9041H30.9023C30.6952 13.9041 30.5086 13.8166 30.3766 13.6761L29.2707 12.6418H27.9919L26.8473 14.0792C26.7039 14.2612 26.4923 14.3533 26.2807 14.3533L26.2827 14.3554ZM2.96956 26.0227V9.30168L1.67936 6.88295C1.58378 6.70327 1.57013 6.49826 1.62474 6.31628L3.09699 0.564364C3.18346 0.225744 3.49066 0.00230455 3.82289 0.0138215L4.79456 0.00691088C4.82414 0.00230411 4.856 0 4.88786 0L4.9584 0.00460735L5.2565 0.00230409L5.32249 0.00691088L6.35102 0.0138215C6.68779 0.0161249 6.96996 0.248783 7.04959 0.564364L8.53099 6.35084C8.57877 6.53742 8.55147 6.72631 8.46727 6.88295L7.17707 9.30168V26.0227H9.60963C10.0124 26.0227 10.3378 26.3521 10.3378 26.7599V29.5817C10.3355 29.8167 10.224 30.0493 10.0169 30.1922C9.70975 30.4041 9.46399 30.6852 9.29332 31.0076C9.12493 31.3278 9.03163 31.6941 9.03163 32.0719C9.03163 32.4473 9.12265 32.8136 9.29332 33.1361C9.45716 33.4517 9.69609 33.7258 9.9919 33.9332C10.199 34.0622 10.3378 34.2948 10.3378 34.5597V44.7687C10.3378 46.2084 9.75752 47.5168 8.81998 48.4635L8.8177 48.4612C7.88017 49.4103 6.58769 50 5.16776 50C3.76833 50 2.49402 49.4264 1.55876 48.5027L1.5178 48.4612C0.582537 47.5144 0 46.2061 0 44.7664L0.00227526 34.5615C0.00227526 34.3243 0.116051 34.0939 0.323125 33.9511C0.630321 33.7391 0.876082 33.4581 1.04675 33.1356C1.21514 32.8131 1.30844 32.4492 1.30844 32.0714C1.30844 31.6936 1.21514 31.3297 1.04675 31.0072C0.882915 30.6916 0.643981 30.4174 0.348174 30.2101C0.1411 30.0811 0.00229276 29.8485 0.00229276 29.5835V26.7617C0.00229276 26.354 0.327693 26.0246 0.730465 26.0246H2.96962L2.96956 26.0227ZM5.72298 26.0227V9.11946C5.72526 9.00198 5.75256 8.8822 5.81173 8.77163L7.05643 6.44047L5.78668 1.47864L5.32019 1.47634L5.25875 1.47864L5.17456 1.47403L4.35994 1.47864L3.09018 6.44047L4.31217 8.72788C4.38271 8.84075 4.42367 8.97666 4.42367 9.11947V26.0228L5.72302 26.0251L5.72298 26.0227ZM5.82311 35.596V45.6027C5.82311 46.0104 6.14851 46.3398 6.55128 46.3398C6.95405 46.3398 7.27945 46.0081 7.27945 45.6027V35.596C7.27945 35.1883 6.95405 34.8589 6.55128 34.8589C6.14851 34.8589 5.82311 35.1883 5.82311 35.596ZM3.06514 35.596V45.6027C3.06514 46.0104 3.39054 46.3398 3.79331 46.3398C4.19609 46.3398 4.52149 46.0081 4.52149 45.6027V35.596C4.52149 35.1883 4.19609 34.8589 3.79331 34.8589C3.39054 34.8589 3.06514 35.1883 3.06514 35.596ZM5.1723 48.5282C6.19401 48.5282 7.12246 48.1067 7.79372 47.4271V47.4248C8.46725 46.743 8.8837 45.8031 8.8837 44.7712V34.926C8.52189 34.6151 8.22608 34.2419 8.0099 33.8272C7.73 33.2951 7.57754 32.6916 7.57754 32.0719C7.57754 31.4523 7.73 30.8488 8.0099 30.3166C8.22607 29.902 8.52417 29.5288 8.8837 29.2178V27.4994H3.70005L1.46089 27.4971V29.2155C1.82043 29.5265 2.11625 29.8997 2.3347 30.3143C2.61459 30.8464 2.76705 31.45 2.76705 32.0696C2.76705 32.6893 2.61459 33.2928 2.3347 33.8249C2.11852 34.2396 1.82043 34.6127 1.46089 34.9237V44.7688C1.46089 45.8031 1.87731 46.7407 2.55088 47.4225L2.58501 47.4594C3.25173 48.1205 4.16649 48.5282 5.1723 48.5282ZM44.9986 15.94C45.3218 15.0969 45.7769 14.2952 46.3685 13.5397L46.4072 13.4936C46.942 12.8141 47.5837 12.1737 48.3301 11.5656C48.6054 10.2595 48.6213 9.0179 48.3778 7.83849C48.2072 7.01385 47.9091 6.21681 47.4835 5.44512L45.8565 9.99923C45.72 10.3816 45.3036 10.5774 44.9258 10.4392L41.2008 9.08241C40.8298 8.9488 40.6341 8.54108 40.757 8.1656L42.2202 3.63684C41.376 4.15514 40.5659 4.84851 39.8968 5.6409C39.2369 6.42408 38.7204 7.30174 38.4519 8.20009C38.1947 9.05929 38.1606 9.94385 38.4496 10.7823C38.6862 11.4688 39.1413 12.1437 39.8695 12.7703C39.9059 12.8026 39.9355 12.8348 39.9651 12.8694C40.2404 13.1895 40.4885 13.5397 40.7069 13.9151C40.9322 14.3044 41.1233 14.7145 41.2803 15.1475C41.3099 15.2327 41.3236 15.3157 41.3236 15.4009L41.3258 34.0503C41.3258 34.1563 41.3031 34.2599 41.2621 34.3521C40.939 35.1952 40.4839 35.9968 39.8922 36.7523C39.3529 37.4457 38.6976 38.1045 37.9307 38.7265C37.6554 40.0326 37.6394 41.2742 37.8829 42.4513C38.0536 43.2759 38.3517 44.073 38.7772 44.8447L40.4043 40.2906C40.5408 39.9082 40.9572 39.7124 41.335 39.8506L45.06 41.2074C45.4309 41.341 45.6266 41.7487 45.5038 42.1265L44.0406 46.6552C44.8848 46.1346 45.6949 45.4436 46.3639 44.6489C47.0238 43.8657 47.5404 42.9903 47.8089 42.0897C48.0661 41.2305 48.1002 40.3459 47.8112 39.5074C47.5745 38.821 47.1194 38.146 46.3912 37.5195C46.3548 37.4872 46.323 37.455 46.2957 37.4204C45.7336 36.7708 45.2967 36.0107 44.9827 35.1422C44.9531 35.057 44.9395 34.9741 44.9395 34.8888L44.9372 16.2394C44.9349 16.1335 44.9577 16.0298 44.9986 15.94ZM47.5108 14.4496C47.033 15.0624 46.6598 15.705 46.3913 16.3777V34.7599C46.6393 35.4026 46.9647 35.9624 47.3697 36.4369C48.2822 37.234 48.8648 38.1139 49.1788 39.0284V39.033C49.5748 40.187 49.5383 41.378 49.1925 42.5229C48.8602 43.6286 48.2436 44.6836 47.4608 45.6119C46.2615 47.0378 44.6528 48.1827 43.094 48.7401C42.9393 48.8046 42.764 48.8161 42.5934 48.7585C42.2111 48.6318 42.0018 48.2172 42.1269 47.8302L43.8973 42.3547L41.5171 41.4885L39.6444 46.7291C39.5966 46.8581 39.5146 46.9732 39.4009 47.0631C39.0823 47.3073 38.6272 47.2451 38.386 46.9226C37.4052 45.6118 36.7612 44.2228 36.4563 42.7578C36.1514 41.2881 36.1878 39.7516 36.5633 38.1484H36.5655C36.6042 37.9895 36.6907 37.8444 36.8272 37.7361C37.5873 37.1418 38.2267 36.5129 38.7433 35.8472C39.2211 35.2321 39.5943 34.5895 39.8628 33.9192L39.8651 15.5345C39.7445 15.2167 39.6057 14.9264 39.451 14.6592C39.2848 14.3712 39.096 14.104 38.8843 13.8575C37.9719 13.0605 37.3893 12.1805 37.0753 11.2661V11.2638C36.6793 10.1074 36.7157 8.91647 37.0616 7.77392C37.3938 6.67052 38.0105 5.61318 38.7911 4.68487C39.9925 3.25896 41.5991 2.11411 43.1601 1.55666C43.3126 1.49216 43.49 1.48295 43.6607 1.53823C44.043 1.66263 44.2523 2.07726 44.1272 2.46425L42.3545 7.94207L44.7347 8.80823L46.6075 3.5677C46.6553 3.4387 46.7372 3.32122 46.851 3.23369C47.1695 2.98951 47.6246 3.05171 47.8658 3.3742C48.8466 4.68264 49.4906 6.07163 49.7955 7.53899C50.1004 9.00865 50.064 10.5451 49.6886 12.1484L49.6863 12.1461C49.6476 12.305 49.5611 12.4501 49.4246 12.5584C48.6782 13.1435 48.0479 13.7562 47.5404 14.4012L47.5108 14.4496ZM24.6736 14.3552H21.5948L20.6595 40.6336C20.6072 42.0917 21.2239 43.0247 22.0385 43.437C22.3798 43.6097 22.7553 43.6973 23.1353 43.6973V43.695C23.5176 43.695 23.8931 43.6074 24.2298 43.4393C25.0445 43.0269 25.6589 42.0963 25.6065 40.6359L24.6736 14.3552ZM20.4457 12.8809H25.9366L27.047 11.485C27.179 11.2938 27.3974 11.1671 27.6454 11.1671H29.5523C29.7275 11.1694 29.905 11.2339 30.0438 11.3629L31.1838 12.4271H33.2591C33.2478 10.4092 33.2478 8.40746 33.2591 6.38973H31.1838L30.078 7.42171C29.946 7.56222 29.7594 7.64976 29.5523 7.64976H27.6454V7.64746C27.4315 7.64746 27.2222 7.55301 27.0788 7.37334L25.9343 5.93593H19.1028C16.9706 6.09718 15.2663 7.05313 14.0511 8.44908C13.1113 9.52711 12.4582 10.8655 12.1169 12.3029C14.2309 10.4025 16.3198 9.47646 18.3815 9.52257C18.6614 9.51336 18.9345 9.67 19.0619 9.94412L20.4457 12.8809Z"></path></mask><path fill-rule="evenodd" clip-rule="evenodd" d="M26.2827 14.3554H26.1257L27.0587 40.5814C27.1338 42.7052 26.1621 44.0988 24.8787 44.7485C24.3303 45.0272 23.7295 45.1654 23.1357 45.1654V45.1631C22.5372 45.1631 21.9364 45.0249 21.3903 44.7485C20.1069 44.0988 19.133 42.7052 19.2081 40.5814L20.1411 14.3554H19.984C19.6746 14.3554 19.4129 14.162 19.3059 13.8855L17.9497 10.9992C15.9518 11.1121 13.8514 12.3929 11.6577 14.8392C11.3869 15.1387 10.9273 15.1594 10.6315 14.8876C10.4563 14.7263 10.3766 14.496 10.3971 14.2725C10.4836 11.7594 11.371 9.30378 12.9639 7.47499C14.427 5.79569 16.4796 4.64624 19.0444 4.46426L26.283 4.46195C26.531 4.46195 26.7518 4.58865 26.8814 4.77984L27.9919 6.17579H29.2707L30.4107 5.11155C30.5496 4.98255 30.727 4.91806 30.9023 4.91806L33.9902 4.91575C34.3929 4.91575 34.7183 5.24515 34.7183 5.65288L34.7138 5.72429L34.6933 9.40994L34.7138 13.1624C34.7161 13.5678 34.3907 13.8972 33.9924 13.8995H33.9902V13.9041H30.9023C30.6952 13.9041 30.5086 13.8166 30.3766 13.6761L29.2707 12.6418H27.9919L26.8473 14.0792C26.7039 14.2612 26.4923 14.3533 26.2807 14.3533L26.2827 14.3554ZM2.96956 26.0227V9.30168L1.67936 6.88295C1.58378 6.70327 1.57013 6.49826 1.62474 6.31628L3.09699 0.564364C3.18346 0.225744 3.49066 0.00230455 3.82289 0.0138215L4.79456 0.00691088C4.82414 0.00230411 4.856 0 4.88786 0L4.9584 0.00460735L5.2565 0.00230409L5.32249 0.00691088L6.35102 0.0138215C6.68779 0.0161249 6.96996 0.248783 7.04959 0.564364L8.53099 6.35084C8.57877 6.53742 8.55147 6.72631 8.46727 6.88295L7.17707 9.30168V26.0227H9.60963C10.0124 26.0227 10.3378 26.3521 10.3378 26.7599V29.5817C10.3355 29.8167 10.224 30.0493 10.0169 30.1922C9.70975 30.4041 9.46399 30.6852 9.29332 31.0076C9.12493 31.3278 9.03163 31.6941 9.03163 32.0719C9.03163 32.4473 9.12265 32.8136 9.29332 33.1361C9.45716 33.4517 9.69609 33.7258 9.9919 33.9332C10.199 34.0622 10.3378 34.2948 10.3378 34.5597V44.7687C10.3378 46.2084 9.75752 47.5168 8.81998 48.4635L8.8177 48.4612C7.88017 49.4103 6.58769 50 5.16776 50C3.76833 50 2.49402 49.4264 1.55876 48.5027L1.5178 48.4612C0.582537 47.5144 0 46.2061 0 44.7664L0.00227526 34.5615C0.00227526 34.3243 0.116051 34.0939 0.323125 33.9511C0.630321 33.7391 0.876082 33.4581 1.04675 33.1356C1.21514 32.8131 1.30844 32.4492 1.30844 32.0714C1.30844 31.6936 1.21514 31.3297 1.04675 31.0072C0.882915 30.6916 0.643981 30.4174 0.348174 30.2101C0.1411 30.0811 0.00229276 29.8485 0.00229276 29.5835V26.7617C0.00229276 26.354 0.327693 26.0246 0.730465 26.0246H2.96962L2.96956 26.0227ZM5.72298 26.0227V9.11946C5.72526 9.00198 5.75256 8.8822 5.81173 8.77163L7.05643 6.44047L5.78668 1.47864L5.32019 1.47634L5.25875 1.47864L5.17456 1.47403L4.35994 1.47864L3.09018 6.44047L4.31217 8.72788C4.38271 8.84075 4.42367 8.97666 4.42367 9.11947V26.0228L5.72302 26.0251L5.72298 26.0227ZM5.82311 35.596V45.6027C5.82311 46.0104 6.14851 46.3398 6.55128 46.3398C6.95405 46.3398 7.27945 46.0081 7.27945 45.6027V35.596C7.27945 35.1883 6.95405 34.8589 6.55128 34.8589C6.14851 34.8589 5.82311 35.1883 5.82311 35.596ZM3.06514 35.596V45.6027C3.06514 46.0104 3.39054 46.3398 3.79331 46.3398C4.19609 46.3398 4.52149 46.0081 4.52149 45.6027V35.596C4.52149 35.1883 4.19609 34.8589 3.79331 34.8589C3.39054 34.8589 3.06514 35.1883 3.06514 35.596ZM5.1723 48.5282C6.19401 48.5282 7.12246 48.1067 7.79372 47.4271V47.4248C8.46725 46.743 8.8837 45.8031 8.8837 44.7712V34.926C8.52189 34.6151 8.22608 34.2419 8.0099 33.8272C7.73 33.2951 7.57754 32.6916 7.57754 32.0719C7.57754 31.4523 7.73 30.8488 8.0099 30.3166C8.22607 29.902 8.52417 29.5288 8.8837 29.2178V27.4994H3.70005L1.46089 27.4971V29.2155C1.82043 29.5265 2.11625 29.8997 2.3347 30.3143C2.61459 30.8464 2.76705 31.45 2.76705 32.0696C2.76705 32.6893 2.61459 33.2928 2.3347 33.8249C2.11852 34.2396 1.82043 34.6127 1.46089 34.9237V44.7688C1.46089 45.8031 1.87731 46.7407 2.55088 47.4225L2.58501 47.4594C3.25173 48.1205 4.16649 48.5282 5.1723 48.5282ZM44.9986 15.94C45.3218 15.0969 45.7769 14.2952 46.3685 13.5397L46.4072 13.4936C46.942 12.8141 47.5837 12.1737 48.3301 11.5656C48.6054 10.2595 48.6213 9.0179 48.3778 7.83849C48.2072 7.01385 47.9091 6.21681 47.4835 5.44512L45.8565 9.99923C45.72 10.3816 45.3036 10.5774 44.9258 10.4392L41.2008 9.08241C40.8298 8.9488 40.6341 8.54108 40.757 8.1656L42.2202 3.63684C41.376 4.15514 40.5659 4.84851 39.8968 5.6409C39.2369 6.42408 38.7204 7.30174 38.4519 8.20009C38.1947 9.05929 38.1606 9.94385 38.4496 10.7823C38.6862 11.4688 39.1413 12.1437 39.8695 12.7703C39.9059 12.8026 39.9355 12.8348 39.9651 12.8694C40.2404 13.1895 40.4885 13.5397 40.7069 13.9151C40.9322 14.3044 41.1233 14.7145 41.2803 15.1475C41.3099 15.2327 41.3236 15.3157 41.3236 15.4009L41.3258 34.0503C41.3258 34.1563 41.3031 34.2599 41.2621 34.3521C40.939 35.1952 40.4839 35.9968 39.8922 36.7523C39.3529 37.4457 38.6976 38.1045 37.9307 38.7265C37.6554 40.0326 37.6394 41.2742 37.8829 42.4513C38.0536 43.2759 38.3517 44.073 38.7772 44.8447L40.4043 40.2906C40.5408 39.9082 40.9572 39.7124 41.335 39.8506L45.06 41.2074C45.4309 41.341 45.6266 41.7487 45.5038 42.1265L44.0406 46.6552C44.8848 46.1346 45.6949 45.4436 46.3639 44.6489C47.0238 43.8657 47.5404 42.9903 47.8089 42.0897C48.0661 41.2305 48.1002 40.3459 47.8112 39.5074C47.5745 38.821 47.1194 38.146 46.3912 37.5195C46.3548 37.4872 46.323 37.455 46.2957 37.4204C45.7336 36.7708 45.2967 36.0107 44.9827 35.1422C44.9531 35.057 44.9395 34.9741 44.9395 34.8888L44.9372 16.2394C44.9349 16.1335 44.9577 16.0298 44.9986 15.94ZM47.5108 14.4496C47.033 15.0624 46.6598 15.705 46.3913 16.3777V34.7599C46.6393 35.4026 46.9647 35.9624 47.3697 36.4369C48.2822 37.234 48.8648 38.1139 49.1788 39.0284V39.033C49.5748 40.187 49.5383 41.378 49.1925 42.5229C48.8602 43.6286 48.2436 44.6836 47.4608 45.6119C46.2615 47.0378 44.6528 48.1827 43.094 48.7401C42.9393 48.8046 42.764 48.8161 42.5934 48.7585C42.2111 48.6318 42.0018 48.2172 42.1269 47.8302L43.8973 42.3547L41.5171 41.4885L39.6444 46.7291C39.5966 46.8581 39.5146 46.9732 39.4009 47.0631C39.0823 47.3073 38.6272 47.2451 38.386 46.9226C37.4052 45.6118 36.7612 44.2228 36.4563 42.7578C36.1514 41.2881 36.1878 39.7516 36.5633 38.1484H36.5655C36.6042 37.9895 36.6907 37.8444 36.8272 37.7361C37.5873 37.1418 38.2267 36.5129 38.7433 35.8472C39.2211 35.2321 39.5943 34.5895 39.8628 33.9192L39.8651 15.5345C39.7445 15.2167 39.6057 14.9264 39.451 14.6592C39.2848 14.3712 39.096 14.104 38.8843 13.8575C37.9719 13.0605 37.3893 12.1805 37.0753 11.2661V11.2638C36.6793 10.1074 36.7157 8.91647 37.0616 7.77392C37.3938 6.67052 38.0105 5.61318 38.7911 4.68487C39.9925 3.25896 41.5991 2.11411 43.1601 1.55666C43.3126 1.49216 43.49 1.48295 43.6607 1.53823C44.043 1.66263 44.2523 2.07726 44.1272 2.46425L42.3545 7.94207L44.7347 8.80823L46.6075 3.5677C46.6553 3.4387 46.7372 3.32122 46.851 3.23369C47.1695 2.98951 47.6246 3.05171 47.8658 3.3742C48.8466 4.68264 49.4906 6.07163 49.7955 7.53899C50.1004 9.00865 50.064 10.5451 49.6886 12.1484L49.6863 12.1461C49.6476 12.305 49.5611 12.4501 49.4246 12.5584C48.6782 13.1435 48.0479 13.7562 47.5404 14.4012L47.5108 14.4496ZM24.6736 14.3552H21.5948L20.6595 40.6336C20.6072 42.0917 21.2239 43.0247 22.0385 43.437C22.3798 43.6097 22.7553 43.6973 23.1353 43.6973V43.695C23.5176 43.695 23.8931 43.6074 24.2298 43.4393C25.0445 43.0269 25.6589 42.0963 25.6065 40.6359L24.6736 14.3552ZM20.4457 12.8809H25.9366L27.047 11.485C27.179 11.2938 27.3974 11.1671 27.6454 11.1671H29.5523C29.7275 11.1694 29.905 11.2339 30.0438 11.3629L31.1838 12.4271H33.2591C33.2478 10.4092 33.2478 8.40746 33.2591 6.38973H31.1838L30.078 7.42171C29.946 7.56222 29.7594 7.64976 29.5523 7.64976H27.6454V7.64746C27.4315 7.64746 27.2222 7.55301 27.0788 7.37334L25.9343 5.93593H19.1028C16.9706 6.09718 15.2663 7.05313 14.0511 8.44908C13.1113 9.52711 12.4582 10.8655 12.1169 12.3029C14.2309 10.4025 16.3198 9.47646 18.3815 9.52257C18.6614 9.51336 18.9345 9.67 19.0619 9.94412L20.4457 12.8809Z" fill="#FF6701" stroke="#FF6701" stroke-width="2" mask="url(#path-1-inside-1_1_2746)"></path></svg>'

  if block.settings.heading_1 == empty
    assign heading_1_empty = true
  endif

  if block.settings.heading_2 == empty
    assign heading_2_empty = true
  endif

  if block.settings.heading_3 == empty
    assign heading_3_empty = true
  endif

  if block.settings.heading_4 == empty
    assign heading_4_empty = true
  endif

  if heading_1_empty == false and block.settings.icon_1 != 'none' or block.settings.image_1 != null
    assign text_only_all_items = false
  elsif heading_2_empty == false and block.settings.icon_2 != 'none' or block.settings.image_2 != null
    assign text_only_all_items = false
  elsif heading_3_empty == false and block.settings.icon_3 != 'none' or block.settings.image_3 != null
    assign text_only_all_items = false
  elsif heading_4_empty == false and block.settings.icon_4 != 'none' or block.settings.image_4 != null
    assign text_only_all_items = false
  endif
-%}
-%}
<ul
  class="icon-with-text icon-with-text--{{ block.settings.layout }} list-unstyled{% if text_only_all_items %} icon-with-text--text-only{% endif %}"
  {{ block.shopify_attributes }}
>
  {%- unless heading_1_empty -%}
    <li class="icon-with-text__item">
      {%- if block.settings.image_1 == null -%}
        {%- render 'icon-accordion', icon: block.settings.icon_1 -%}
      {%- else -%}
        <img
          src="{{ block.settings.image_1 | image_url }}"
          {% if block.settings.image_1.alt != blank %}
            alt="{{ block.settings.image_1.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4 inline-richtext">
        {{- block.settings.heading_1 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading_2_empty -%}
    <li class="icon-with-text__item">
      {%- if block.settings.image_2 == null -%}
        {% render 'icon-accordion', icon: block.settings.icon_2 -%}
      {%- else -%}
        <img
          src="{{ block.settings.image_2 | image_url }}"
          {% if block.settings.image_2.alt != blank %}
            alt="{{ block.settings.image_2.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4 inline-richtext">
        {{- block.settings.heading_2 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading_3_empty -%}
    <li class="icon-with-text__item">
      {%- if block.settings.image_3 == null -%}
        {% render 'icon-accordion', icon: block.settings.icon_3 -%}
      {%- else -%}
        <img
          src="{{ block.settings.image_3 | image_url }}"
          {% if block.settings.image_3.alt != blank %}
            alt="{{ block.settings.image_3.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4 inline-richtext">
        {{- block.settings.heading_3 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading_4_empty -%}
    <li class="icon-with-text__item">
      {%- if block.settings.icon_4 == 'custom_usp4' -%}
        <span class="svg-wrapper">{{ usp4_custom_icon }}</span>
      {%- elsif block.settings.image_4 == null -%}
        {% render 'icon-accordion', icon: block.settings.icon_4 -%}
      {%- else -%}
        <img
          src="{{ block.settings.image_4 | image_url }}"
          {% if block.settings.image_4.alt != blank %}
            alt="{{ block.settings.image_4.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4 inline-richtext">
        {{- block.settings.heading_4 -}}
      </span>
    </li>
  {%- endunless -%}
</ul>
